@media only screen and (max-width: 1643px) {
    .low-list a {
        font-size: 20px !important;
    }
    strong {
        font-size: 12px;
    }
    .marquee {
        max-width: 90% !important;
        width: 90% !important;
    }
    .article-title {
        top: 340px !important;
    }
    .categories {
        top: 235px !important;
    }
    li {
        list-style: none !important;
    }
    .agenda-top .agenda-shrt-color {
        top: 190px !important; 
    }
    .agenda-bottom .agenda-shrt-color {
        top: 400px;
    }
    .agenda-top .clock-ico{
        top: 230px !important;
    }
    .agenda-bottom .clock-ico{
        top: 440px !important;
    }
    
    .economy-categories {
        position: absolute;
        left: 40%;
        height: 0px !important;
    }
    .economy-news h6 {
        width: 50% !important;
        left: 54% !important;
    }
    .interest-news-header {
        margin-top: 25px;
    }
    .interest-category {
        top: 50px !important;
    }
    .interesting-news h6 {
        font-size: 20px !important;
    }
    .blog-info h4 {
        font-size: 38px !important;
    }
    .last-writing p {
        font-size: 15px !important;
    }
    .other-info-head {
        width: 193px !important;
    }
    .other-info-category {
        top: 60px !important;
    }
}
@media only screen and (max-width: 1199px) {
    .low-list a {
        font-size: 16px !important;
    }
    strong {
        font-size: 9px;
    }
    .article-title {
        top: 360px !important;
    }
    .article-title h3 {
        font-size: 30px !important;
    }
    .category-list {
        display: none !important;
    }
    .article-author {
        top: 435px !important;
    }
    .categories {
        top: 255px !important;
    }
    .economy-news h6 {
        font-size: 12px;
        left: 60% !important;
        width: 30% !important;
    }
    .interesting-news h6 {
        font-size: 17px !important;
    }
    .interesting-news .clock-ico img {
        height: 15px !important;
        width: 15px !important;
    }
    .interesting-news p {
        font-size: 13px !important;
    }
    .category-list {
        display: initial !important;
    }
    .category-list {
        font-size: 8px !important;
        margin-right: 4px;
    }
    .blog-info h4 {
        font-size: 35px !important;
    }
    .blog-head-starting p {
        font-size: 15px !important;
    }
    .other-info .clock-ico img {
        height: 15px !important;
        width: 15px !important;
    }
    .other-info .clock-ico p {
        font-size: 13px !important;
    }
}
@media screen and (max-width: 991px) {
    .top-masthead {
        height: 100px !important;
    }
    .masthead-left,
    .masthead-right {
        float: none !important;
        display: block !important;
        clear: both !important;
        width: 100% !important;
    }
    .masthead-left,
    .masthead-right {
        display: flex !important;
        justify-content: center;
    } 
    .low-nav {
        display: none;
    }
    .kirpi-logo img {
        margin: 0 auto;
        display: flex !important;
        justify-content: center;
    }
    .categories {
        top: 225px !important;
    }
    .article-title {
        top: 330px !important;
    }
    .agenda-shrt-color h5 {
        font-size: 14px !important;
    }
    .category-list {
        display: none !important;
    }
    .agenda-display p {
        font-size: 10px;
    }
    .agenda-display .clock-ico img {
        height: 15px !important;
        width: 15px !important;
    }
    .economy-news img {
        width: 70px !important;
    }
    .economy-news h6 {
        font-size: 11px;
        width: 40% !important;
        left: 50% !important;
    }
    .interesting-news h6 {
        font-size: 15px !important;
    }
    .interesting-news .clock-ico img {
        height: 12px !important;
        width: 12px !important;
    }
    .interesting-news .clock-ico p {
        font-size: 9px !important;
    }
    .last-writing {
        height: 100% !important;
    }
    .other-info {
        margin-top: 120px !important;
    }
    .flash-news .row {
        margin: 0 !important;
    }
    .other-info h5 {
        font-size: 17px !important;
    }
    .other-info .clock-ico img {
        height: 12px !important;
        width: 12px !important;
    }
    .other-info .clock-ico p {
        font-size: 9px !important;
    }
    .footer-top {
        height: 260px !important;
    }
    .footer-social {
        float: initial !important;
        margin-top: 60px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
@media screen and (max-width: 767px) {
    .marquee {
        max-width: initial !important;
        width: initial !important;
        background-color: white;
        padding: 0 !important;
        width: 100% !important;
        height: 100%;
    }
    .js-marquee-wrapper {
        /* padding-right: 15px !important; */
    }
    .js-marquee-wrapper a {
        font-size: 12px !important;
    }
    .main-news-bg {
        width: 107% !important;
    }
    .agenda-top,
    .agenda-bottom {
        width: 107% !important;
    }
    .agenda-shrt-color h5 {
        font-size: 20px !important;
    }
    .agenda-display p {
        font-size: 15px !important;
    }
    .economy-news h6 {
        font-size: 20px !important;
        left: 30% !important;
        width: 70% !important;
    }
    .economy-news img {
        width: 120px !important;
    }
    .economy-news {
        width: 107% !important;
    }
    .interesting-news .row {
        width: 107% !important;
    }
    .int-news1, 
    .int-news2, 
    .int-news3, 
    .int-news4,
    .int-news5 {
        margin-top: 10px;
    }
    .interesting-news h6 {
        font-size: 25px !important;
    }
    .interesting-news .clock-ico img {
        height: 15px !important;
        width: 15px !important;
    }
    .interesting-news .clock-ico p {
        font-size: 15px !important;
    }
    .blog-all h4 {
        font-size: 33px !important;
    }
    .other-info-blogs {
        width: 107% !important;
    }
    .other-white-bg {
        margin-top: 20px;
        height: 400px !important;
    }
    .other-info .clock-ico {
        top: 350px !important;
    }
    .other-info h5 {
        font-size: 25px !important;
    }
    .other-info .clock-ico img {
        height: 15px !important;
        width: 15px !important;
    }
    .other-info .clock-ico p {
        font-size: 15px !important;
    }
    .other-info-blogs-bg {
        height: 60% !important;
        background-position: center !important;
    }
    .other-info-header {
        top: 250px !important;
    }
}  

@media screen and (max-width: 575px) {
    * {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .kirpi-logo img {
        width: 100% !important;
    }
    .interesting-news .row {
        width: 100% !important;
        margin: 0 auto !important;
    }
    .other-info-blogs {
        width: 100% !important;
        margin: 0 auto !important;
    }
    .main-news-bg {
        width: 100% !important;
    }
    .agenda-top, .agenda-bottom {
        width: 100% !important;
    }
    .economy-news {
        width: 100% !important;
    }
    .category-list {
        display: initial !important;
    }
    .economy-categories {
        left: 23%;
    }
    .js-marquee-wrapper a {
        font-size: 60% !important;
    }
}